.u-section-1 {
  background-image: url("images/47694036-0.jpeg");
  background-position: 45.44% 66.76%;
  background-size: 175%;
}

.u-section-1 .u-sheet-1 {
  min-height: 874px;
}

.u-section-1 .u-image-1 {
  width: 526px;
  height: 526px;
  background-image: url("images/20190210_1634371.jpg");
  background-position: 50% 50%;
  margin: 47px auto 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 45px;
  margin-bottom: 27px;
}

.u-block-9774-12 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-20 {
  font-weight: 700;
}

.u-block-9774-33 {
  height: 46px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}